.header{
    border-bottom: 1px solid  #A1A1A1 ;
    position: fixed;
    z-index: 99;
    top:0;
    right: 0;
    width: 100%;
    
}
.header_active{
    background-color: black;
}

.wrapper__header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;


    
}




.burger-menu__active .burger-menu__line::before{
    top:0;
    transform: rotate(45deg);
}

.burger-menu__active .burger-menu__line::after{
    top:0;
    transform: rotate(-45deg);
}



.navigation{
    margin: 30px 0px;
    

}
.list__style{
    display: inline-block;
    margin-right: 20px;

    
}

.list__link{
    transition: .3s linear;
    font-size: 20px;
    font-weight: 500;
}

.list__link:hover{
    border-bottom: 2px solid  #ffffff;
    padding-bottom: 30px;
    opacity: .7;  
}