body{
    
    
    font-size: 16px;
    font-weight: 400;
     

}

html{
    box-sizing: border-box;
}
*,*::after, *::before{
    box-sizing: inherit;

}
h1,h2,h3,h4,h5,h6 {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color:#ffffff;
    font-family: 'Roboto', sans-serif;

}
a:hover{
    opacity: 0.8;
    
}
p{
    font-family: 'Marcellus', serif;
}
li{
    
    list-style: none;
}
img{
    display: block;
    height: auto;
    max-width: 100%;
}
.container{
    max-width: 1060px;
    margin: 0px auto;
}
.wrapper{
    overflow-x: hidden;
}

